{% extends 'base.html' %}
{% load static %}

{% block title %}Contraseña{% endblock %}

{% block head_extra %}
<style>
    .alert-success-custom {
        background-color: #d4f7dc;
        color: #256029;
        border-left: 5px solid #4CAF50;
        padding: 2rem;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: 500;
        align-items: center;
        justify-content: space-between;
        max-width: 900px;
        margin: 2rem auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .alert-success-custom img {
        max-width: 250px;
    }

    .read-more {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        margin-top: 1rem;
        font-weight: bold;
        color: #256029;
        text-decoration: none;
    }

    .read-more img {
        width: 18px;
        height: auto;
        margin: 0;
    }
</style>

{% endblock %}

{% block content %}

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="{% static 'AppGames/img/page-top-bg/2.jpg' %}">
        <div class="page-info">
            <h2>Cambiar contraseña</h2>
            <div class="site-breadcrumb">
                <a href="{% url 'home' %}">Home</a> /
                <a href="{% url 'perfil' %}">Perfil</a> /
                <span>Cambiar contraseña</span>
            </div>
        </div>
    </section>
    <!-- Page top end -->

    <section class="contact-page">
        <div class="text-box text-center">
            <div class="alert-success-custom">            
                Tu contraseña ha sido modificada correctamente.
                <img src="{% static 'AppGames/img/pwd_done.png' %}" alt="Éxito">
            
            </div>                  
        </div>
        <div class="mt-5">
            <div class="text-box text-center">
                <a class="read-more" href="{% url 'perfil' %}">Volver al perfil <img src="{% static 'AppGames/img/icons/double-arrow.png' %}" alt="#"/></a>
            </div>
        </div>            
    </section>

{% endblock %}
