{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% block head_extra %}
<style>
    .contact-form label {
        text-transform: uppercase;
        font-weight: bold;
    }
    .errorlist {
        color: red;
        font-weight: bold;
        list-style: none;
        padding-left: 0;
        margin-top: 0.5rem;
    }      
</style>
{% endblock %}

{% block content %}

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="{% static 'AppGames/img/page-top-bg/2.jpg' %}">
        <div class="page-info">
            <h2>Login</h2>
            <div class="site-breadcrumb">
                <a href="{% url 'home' %}">Home</a> /
                <span>Login</span>
            </div>
        </div>
    </section>
    <!-- Page top end -->

    <section class="contact-page">
		<div class="container text-white">
            <form method="post">
                {% csrf_token %}
                
                {% if form.errors %}
                    <div class="alert alert-danger">Usuario o contraseña incorrectos</div>
                {% endif %}

                <div class="contact-form">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="contact-form mt-3">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>

                <button class="site-btn mt-4">Iniciar sesión <img src="{% static 'AppGames/img/icons/double-arrow.png' %}" alt="#"/></button>
            </form>
        </div>
    </section>
{% endblock %}
